:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --text-color-hover: #4d5ae5;
  --accent-color: #404bbf;
  --background-color: #ffffff;
  --background-btn-filters: #f4f4fd;
}

h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
    }


    ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    text-decoration: none;
    list-style: none;
}

button{
    cursor: pointer;
}

img{
    display: block;
}

.list{
    list-style: none;
}

.container{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
   }

.link,
.list,
.header-contact a,
.page-logo,
.header-contact,
.navigation-list-item,
.navigation-link,
.contact {
  text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #434455 ;
    background-color: #FFFFFF;
  }




.navigation-list-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts-adress {
  display: flex;
    margin-left: auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.page-logo {
  margin-right: 76px;
  font-family: "Raleway",sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
 display: flex;
    align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;


}

.span-logo {
  font-family: 'Raleway';
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
    display: flex;
    align-items: center;
   letter-spacing: 0.03em;
   text-transform: uppercase ;
   
   color: #2E2F42;
}

.hero {
   background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office.jpg'); 
  background-size: cover;
  padding-top: 188px;
    padding-bottom: 188px;
  background-color: #2e2f42;
  max-width: 1440px; 
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.hero-title {
   margin-left: auto;
    margin-right: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  max-width: 496px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.modal-open-btn:hover,
.modal-open-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.button {
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-open-btn {
  margin-top: 48px;
    margin-right: auto;
    margin-left: auto;
    display: flex;   
    display: block;
    min-width: 169px;
     height: 56px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
    padding: 16px 32px;
    gap: 10px;
    border: none; 

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-title,
.text-title-team{
   
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.title-description,
.title-description-team {

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.text-title-team,
.title-description-team{
  text-align: center;
  margin-bottom: 8px;
}
.title {
   margin-bottom: 72px; 
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.page-logo-description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-btn-filters);
        
}

.span-logo-footer {
    font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   display: flex;
    align-items: center;
   letter-spacing: 0.03em;
   text-transform: uppercase ;
   color: #f4f4fd;
}
.team-background-color {
  background: #f4f4fd;
}
.team-card {
   border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    
    background-color: #FFFFFF;
}

.button-filter:hover,
.button-filter:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
    box-shadow:  0px 3px 1px
   rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
     0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-filter {
  padding-top: 12px; 
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  background: #f4f4fd;
   border: 1px solid #E7E9FC;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
     border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.projects-title {
  box-sizing: border-box;
  background: #ffffff;
  
}
.top-line {
  box-sizing: border-box;
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.navigation-list-item:hover,
.navigation-list-item:focus {
  color: #404bbf;
}

.navigation-list:hover,
.navigation-list:focus {
  color: #404bbf;
}

.contact-item:hover,
.contact-item:focus {
  color: #404bbf;
  
}
.contact-item{
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
   transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 


.contacts-address:hover,
.contacts-address:focus {
  color: #404bbf;
}
.contacts-address {
  font-style: normal;
}


.link:hover,
.link:focus {
  color: #404bbf;
}

.contacts-address{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}

.header-contact{
     line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}



.page-navigation{
  display: flex;
    align-items: center;
}

.main-header{
  display: flex;
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}




.main-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  
.navigation-link{
    padding: 24px 0;
}

.header-contact{
  gap: 40px;
   display: flex;
    align-items: center;
  
}
 .title-list-item{
   width: calc((100% - 48px) / 3);
    border: 1px solid #E7E9FC;
}
 .job-title{
 padding: 32px 0 ;
 }

 .section{
    padding-top:120px ;
    padding-bottom:120px ;
}

.advantages-list{
  width: calc((100% - 72px) / 4); 
}

.footer{
  padding-top: 100px;
    padding-bottom: 100px;
     background-color: #2e2f42;
}

.page-logo-footer{
  display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway",sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
 display: flex;
    align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
    
}
.span-logo-footer{
  display: inline-block;
}

.section-button{
    padding-top: 96px;
    padding-bottom: 120px;
}


.projects {
  display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.projects-title{
   width: calc((100% - 48px) / 3);
}
.project-name{
   padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top:none;
}

.title-description{
  text-align: left;
}

.site-nav-list{
   justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
    display: flex;

}
.navigation-list{
  gap: 40px;
  display: flex;
 
}

.our-advantages{
  padding-top: 120px; 
  padding-bottom: 120px;
}
.section-actions{
  padding-bottom: 120px;
}

.our-advantages-list{
  display: flex;
  gap: 24px;
}

.team-card-list{
   display: flex;
  gap: 24px;
  
}

.section-actions-list{
  display: flex;
  gap: 24px;
}

.social-list{
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-icon{
  fill: #f4f4fd;
}
.social-list-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;

  transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus{
  background-color: #404bbf;
}


.our-advantages-icon{
  display: flex;
  justify-content: center;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background: #F4F4FD;
border-radius: 4px;
margin-bottom: 8px;
}

.customers-list{
  display: flex;
  justify-content: center;
  gap: 24px;
  
}


.customers-list:hover,
.customers-list:focus{
  color:#4d5ae5 ;
}

.customers-title{
  line-height: 1.1 ;
}
.social-media-title{
   font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.company-list-item-link{
  width: 100%;
   height: 100%;
   border: 1px solid #8e8f99;
   border-radius:4px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: #8e8f99;
    width: 168px;
height: 88px;

transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
 color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-list-item-link:hover,
.company-list-item-link:focus{
  border-color: #404bbf;
  color: #404bbf;
}
.company-icon{
   fill: currentColor; 
}


.projects-title:hover,
.projects-title:focus{
  box-shadow:  0px 3px 1px
   rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
     0px 2px 2px rgba(0, 0, 0, 0.12);
}


.projects-title-link{
  display: block;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-title-link:hover,
.projects-title-link:focus{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
   0px 1px 1px rgba(46, 47, 66, 0.16), 
   0px 2px 1px rgba(46, 47, 66, 0.08);
     
} 

.footer-div {
  align-items: baseline;
  display: flex;
}
.social-list-icon-footer{
  fill:#f4f4fd;
}

.social-list-footer{
  display: flex;
  gap: 16px;
}
.social-list-link-footer{
   display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-footer:hover,
.social-list-link-footer:focus{
  background-color: #31d0aa;
}

.social-list-item-footer{
    width: 40px;
  height: 40px;
}

.footer-page-logo{
   margin-right: 120px;

}


.overlay{
  background-color: #4D5AE5;
mix-blend-mode: normal;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
width: 100%;
height: 100%;

 padding: 40px 32px;

position: absolute;
top: 0;
left: 0;

transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.projects-list-img-wrapper{
  position: relative;
  overflow: hidden;
}

.projects-title-link:hover .overlay,
.projects-title-link:focus .overlay {
  transform: translateY(0%);
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
height: 100%;
background: rgba(46, 47, 66, 0.4);

opacity: 1;
visibility: visible;
pointer-events: auto;

 transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
   visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
 background: #FCFCFC;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-close-btn{
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
width: 24px;
  height: 24px;
  
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 
}

.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.active-page{
  position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-page::after{
  position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.modal-close-btn:hover,
.modal-close-btn:focus{
    background-color: #404bbf; 
    border: none; 
     fill: #ffffff;
     
    
}

.modal-close-icon{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-form-title{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;

margin-bottom: 16px;

}

.modal-contact-form-wrapper{
  margin-bottom: 8px;
}

.modal-form-field{
      display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8E8F99;
     line-height: 1.17;
}

.modal-contact-form{
     display: flex;
    flex-direction: column;
}

.modal-form-input-wrapper{
  position: relative;
}

.contact-form-input{
  width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
     line-height: 1.17; 
    color: #000000;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.contact-form-input:focus{
   border-color: #4D5AE5;
}
.modal-form-comment{
  resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
     line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus{
  border-color: #4D5AE5; 
}

.modal-checkbox-wrapper{
  margin-bottom: 24px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.contact-form-icon{
  position: absolute;
    fill: #2E2F42;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .contact-form-icon{
  fill: #4D5AE5; 
}

.modal-checkbox-icon-wrapper{
     display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
     border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    width: 16px;
    height: 16px;
    padding: 3px 4px;
    margin-right: 8px;
}


.modal-comment-wrapper{
    margin-bottom: 16px;
}
.checkbox-icon{
  
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-checkbox-input:checked + .modal-checkbox-description > .modal-checkbox-icon-wrapper{
 border: none; 
   fill: #ffffff;
  background-color:  #404bbf;
   border-color: #404bbf;
}

.modal-checkbox-input{
      width: 16px;
    height: 16px;
    visibility: hidden;
    appearance: none;
    position: absolute;
}
.modal-checkbox-description{
  font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.privacy-link{
  color: #4D5AE5;
}

.send-btn-form{
  display: block;
    padding: 16px 32px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    border: none;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    margin-top: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-title{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
 margin-bottom: 16px;
}

.modal-form-footer{
  margin-left: auto;
}

.form-footer{
  display: flex;
  margin-top: 16px;
}

.modal-form-subscribe{
  margin-right: 24px;
}

.modal-form-btn-footer{
  display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer-icon{
  margin-left: 16px;
}

.modal-form-subscribe-input{
  outline: none;
    border: none;
    width: 264px;
    height: 40px;
    padding-left: 16px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

